<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">

	<title>top</title>
</head>
<body>
	<div id="topPage">
		<div class="toptitle">社員一覧</div>
		<div class="wrapper">
			<div class="engineer">
				<form method="post" action="/staff">
				<input type="submit" value="管理画面へ" class="btn staffbtn">
				</form>
				<div class="subtitle">エンジニア1
				</div>
				<div class="container">
					
				</div>
			</div>
			<div class="sales">
				<div class="subtitle">営業</div>
				<div class="container">
					
				</div>
			</div>
			<div class="corporate">
				<div class="subtitle">コーポレート</div>
				<div class="container">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>