<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
<title>result</title>
</head>
<body>
	<div id="resultPage">
		<div>
			
			<div>
				<div class="toptitle">削除結果</div>
				<div>社員情報の削除に成功しました。</div>
			</div>
			
		</div>
	</div>
		<div>
			<form method="post" action="/backHome">
				<input type="submit" value="社員一覧へ" class="btn">
			</form>
		</div>
</body>
</html>